#container a{
    background-color: #f44336;
    margin: 1em 0px;
    display: inline-block;
    padding: 1em;
    min-width: 10em;
    text-align: center;
    text-decoration: none;
    color: white;
}

#container a:hover{
    background-color: red;
}